.primary {
    background: #00578d;
    color: white !important;
}

.secondary {
    background: #0079c4;
    color: white !important;
}

.terciary {
    background: #303f51;
}

body {
    background: #a1a8b0 !important;
}

.text-center {
    text-align: center !important;
}

.text_header_title {
    color: #7d8999 !important;
}

.card-header {
    background-color: white;
}

.card-login {
    width: 400px !important;
}

.card-login .card-header p {
    color: #c2d2e0 !important;
    font-size: 12px;
}

.card-login .card-body label {
    color: #4d8aaf !important;
}

.card-login .card-body a {
    color: #4d8aaf !important;
}

.card-login .card-body button {
    font-weight: 800;
}

.mt_-10 {
    margin-top: -15px;
}

.img_card_login {
    margin-top: -31px;
}

.bg_verification_card{
    background: #0c1d33;
    width: 300px;
    color: white;
    margin-top: 30%;
}

.img_card_verify {
    margin-top: -28px;
}

.title_card_verify {
    font-weight: 800;
}

.verify_text {
    font-size: 12px;
}

.verify_done {
    color: white;
}

.header_section {
    background-image: linear-gradient(to right, rgb(11, 34, 59) 20%, rgb(1, 85, 138) 100%);
    width: 100%;
    height: 250px;
}

.unifam_brand {
    width: 100%;
}

.brand_image {
    width: 70px;
}
.brand_image img {
    width: 60px;
    height: 60px;
}

.brand_title {
    color: rgb(202, 203, 205);
    width: 200px;
}

.brand_subtitle {
    color: rgb(221, 196, 111);
    font-size: 10px;
    margin-left: 63px;
    margin-top: -15px;
}

.dropdown-toggle::after {
    color: white !important;
}

nav i {
    font-size: 20px;
    color: white !important;
}

svg {
    color: white;
    height: 30px;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
    font-size: 20px;
}

.form_input_group {
    width: 100%;
    background: rgb(12, 82, 124);
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
}

.form_icon {
    width: 50px;
    padding: 5px;
}

.form_input input {
    width: 100%;
    background: transparent;
    border: none;
    height: 35px;
    color: white;
}

.header_menu {
    width: 100%;
    background: rgb(0, 121, 196);
    height: 40px;
    border-radius: 5px;
    margin-top: -120px;
}

.header_title {
    margin-top: 30px;
}

.header_menu a {
    color: white;
    font-size: 12px;
}

.header_panel_card {
    height: 80px;
}

.header_panel .number{
    color: rgb(1, 85, 138) !important;
    font-size: 20px;
}

.header_panel .caption{
    font-size: 12px;
    margin-top: -10px;
}

.icon_metrics {
    background: rgb(118, 210, 105);
    border-radius: 50px;
    font-size: 10px;
    height: 15px;
    width: 15px;
    padding-left: 3px;
    margin-top: -25px;
    margin-left: 40px;
}

.metrics .card .card-header button{
    float: right;
    height: 30px;
    font-size: 12px;
    margin-top: -20px;
    background: rgb(0, 121, 196);
    color: white;
    font-weight: 600;
}

/*side bar*/
.sidebar {
    height: 500px;
    width: 75px;
    position: fixed;
    z-index: 1;
    top: 14%;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    white-space: nowrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #7d8999;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #7d8999;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.material-icons,
.icon-text {
    vertical-align: middle;
}

.material-icons {
    padding-bottom: 3px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 100px;
}

.separator {
    border-bottom: 2px solid #0000003d;
    height: 3px;
    width: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

.sidebar svg {
    color: rgb(1, 85, 138) !important;
}

.botder-bottom {
    border-bottom: 1px solid grey;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.clickable {
    cursor: pointer;
}

body { font-family: "Gill Sans Extrabold", Helvetica, sans-serif }

a {
    text-decoration: none !important;
}
/*medias queries*/
@media screen and (min-width: 768px) {
    .container {
        max-width: 700px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 90%;
    }

    .sm-text-center {
        text-align: center !important;
    }

    .hide-mobile {
        display: none;
    }

    .header_menu a {
        color: white;
        font-size: 8.5px;
    }
}