<template>
    <div class='form-group col-md-3 col-sm-12 mt-2'>
        <label for="inlineFormInputGroup">Number of Payments</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend"> 
                <div class="input-group-text" style="background:#00578d; color:white" ><i class='fab fa-money'></i></div>
            </div>
            <input readonly="" type="number" class="form-control" ref="total" name='numberOfPayments' required placeholder="Rate" v-model="total">
        </div>
    </div>
</template>

<script>
    export default {
        // name: 'addLoanz',
        props: {
            total: Number
        }
    }
</script>
